@import "tailwindcss";

@theme{
  --breakpoint-sidebar: 1030px;
  --breakpoint-profile: 469px;
}

@theme inline {

}

body{
  background-color: var(--primary-background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root{

}



/* --------------------------------------- DARK THEME --------------------------------------- */

.dark{
  --primary-color: rgb(171, 171, 171);
  --primary-background: rgb(12, 16, 20);
  --button-hover: #1c1e21;

  --secondary-button: #25292E;
  --third-button: #555;
  
  --modal-post-title: #0c1014;
  --modal-post-background: #1b1e21;
  --modal-border-b: #343434;
}

/* --------------------------------------- LIGHT THEME --------------------------------------- */

.light{
  --primary-color: rgb(0, 0, 0);
  --primary-background: rgb(255, 255, 255);
  --button-hover: #ccc;

  --secondary-button: rgb(227, 227, 227);
  --third-button: rgb(210, 210, 210);

  --modal-post-title: #ffffff;
  --modal-post-background: rgb(255, 255, 255);
  --modal-border-b: #2a2a2a;
}


/* --------------------------------------- SCROLL --------------------------------------- */


::-webkit-scrollbar {
  width: 8px;          /* largura da barra */
  height: 8px;         /* altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;  /* track transparente */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* cor do dedinho */
  border-radius: 9999px;     /* deixar arredondado */
  border: 2px solid transparent; /* margem interna opcional */
}

