@import "tailwindcss";

@theme{
  --breakpoint-sidebar: 1030px;
  --breakpoint-profile: 469px;
}

@theme inline {

}

body{
  background-color: var(--primary-background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


:root{

}



/* --------------------------------------- DARK THEME --------------------------------------- */

.dark{
  --primary-color: rgb(169, 169, 169);
  --primary-background: rgb(12, 16, 20);
  --button-hover: #1c1e21;
}

/* --------------------------------------- LIGHT THEME --------------------------------------- */

.light{
  --primary-color: rgb(0, 0, 0);
  --primary-background: rgb(255, 255, 255);
  --button-hover: #ccc;
}


/* --------------------------------------- SCROLL --------------------------------------- */


::-webkit-scrollbar {
  width: 8px;          /* largura da barra */
  height: 8px;         /* altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;  /* track transparente */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* cor do dedinho */
  border-radius: 9999px;     /* deixar arredondado */
  border: 2px solid transparent; /* margem interna opcional */
}

